[Unit]
Description=Pulse energy meter
After=network.target rrdcached.service

[Service]
Type=simple
ExecStart=/scratch/git/pulse/pulse --trigger --pvoutput
User=pulse
Group=pulse

[Install]
WantedBy=multi-user.target
