[Unit]
Description=Pulsemeter energy consumption

[Service]
ExecStart=/scratch/git/pulse/resources/pvoutput.sh
User=rrdcached
Group=rrdcached

[Install]
WantedBy=multi-user.target
